.top {
    background-image: url(images/header-bg.png);
}
.top-half {
    float: left;
    width: 35%;
}
section{
    height: 600px;

}
.beauti {
    padding: 6%;
}
.button-link{
    padding: 10px;
    text-decoration: none;
    background-color: aqua;
    border-radius: 15px;
}
.bottoms{
    background-image: url(images/biography-bg.png);
}
.bottom{
    width: 50%;
    float: left;
}
.bottom>h3{
    padding-left: 40px;
    font-size: 80px;
    font-weight: 800;
    color: blueviolet;
}
.bottom>p{
    padding-left: 80px;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}